/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap');

// font family
$font-family-sans-serif: 'Roboto', Arial, sans-serif !default;
$presentation-heading-font: 'Roboto Slab', Times New Roman, serif  !default;

// font size
$presentation-h1-font-size: 2.6em;
$presentation-h2-font-size: 1.7em;
$presentation-h3-font-size: 1.4em;
$presentation-h4-font-size: 1.1em;
$presentation-font-size-root: 40px;
$presentation-line-height: 1.5em;

// font colour
$presentation-heading-color: #000000 !default;

// code
$code-color: #b20e10 !default;
$code-block-font-size: 0.6em;
$code-block-border-color: #000000;
$code-block-bg: #fafafa;

// bg colours 
$body-color: #000000;
$link-color: #b20e10;
$body-bg: #ffffff;

/*-- scss:rules --*/

.btn-webr {
  background-color: $code-block-bg !important;
  border-color: $link-color;
  border-width: 3px;
  border-radius: 15px !important;
  padding: 10px;
  margin-bottom: 10px;
  font-family: $font-family-sans-serif;
  font-size: 20px;
  cursor:pointer;
}

.subtitle {
  font-size: $presentation-h3-font-size;
  font-family: $font-family-sans-serif;
}

h2 {
  padding-bottom: 35px;
}

.author {
  color: $body-bg;
  font-size: $presentation-h4-font-size;
  font-family: $font-family-sans-serif;
}

.author a {
  color: $body-bg;
  font-size: $presentation-h4-font-size;
  font-family: $font-family-sans-serif;
}

section.has-dark-background a, section.has-dark-background a:hover {
  color: $body-bg;
}

.reveal .footer {
  color: #000000;
  font-family: $font-family-sans-serif;
  padding-bottom: 25px;
}

.reveal .slide-logo {
  right: 30px;
  padding-right: 20px !important;
  padding-bottom: 30px !important;
  max-height: 60px !important;
  z-index: 1;
}

.reveal .slide-menu-button {
    left: 5px;
    top: 15px;
    padding-left: 10px;
    color: #b4b7b8;
  }

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #b20e10;
  height: 2%;
}

.right {
  text-align: right !important
}

.center {
  text-align: center !important
}